/* =================== fonts =================== */
/* ---------- noto sans kr ---------- */
@font-face {
  font-family: "noto";
  font-weight: 400;
  src: url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 500;
  src: url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 600;
  src: url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype");
  font-display: swap;
}


/* ---------- roboto ---------- */
@font-face {
  font-family: "roboto";
  font-weight: 400;
  src: url("../../fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../../fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype"),
    url("../../fonts/roboto/Roboto-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-weight: 500;
  src: url("../../fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("../../fonts/roboto/Roboto-Medium.woff") format("woff"),
    url("../../fonts/roboto/Roboto-Medium.ttf") format("truetype"),
    url("../../fonts/roboto/Roboto-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-weight: 600;
  src: url("../../fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("../../fonts/roboto/Roboto-Bold.woff") format("woff"),
    url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype"),
    url("../../fonts/roboto/Roboto-Bold.otf") format("opentype");
  font-display: swap;
}