.component-container {
  margin: 20px 0;
}

.component-ttl {
  margin-top: 50px;
  font-size: 30px;
}

.component-sub-ttl {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.04);
}

.component-desc {
  margin-top: 5px;
  font-size: 18px;
}

.bd-style01 {
  font-size: 1.125rem;
  font-weight: 400;
}

.bd-style02 {
  font-size: 1rem;
  font-weight: 400;
}

.bd-style03 {
  font-size: 0.875rem;
  font-weight: 400;
}

.bd-style04 {
  font-size: 0.75rem;
  font-weight: 400;
}