.component-container {
  margin: 20px 0;
}

.component-ttl {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f5f6fd;
  font-size: 30px;
}

.component-sub-ttl {
  margin: 20px 0;
  padding: 10px 20px;
  border-left: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

.component-desc {
  margin-top: 5px;
  font-size: 18px;
}

.code-wrap {
  margin-bottom: 20px;
}

.code {
  display: block;
  max-width: 500px;
  margin-top: 10px;
  padding: 10px;
  background-color: #ededed;
}

.code span {
  font-size: 14px;
  letter-spacing: 0.1em;
}

.code .blue {
  color: #1851a9;
}

.code .skyblue {
  color: #319fcb;
}

.code .people {
  color: #8025b7;
}

.code .yellow {
  color: #8d9100;
}

.code .green {
  color: #218d08;
}

.bd-style01 {
  font-size: 1.125rem;
  font-weight: 400;
}

.bd-style02 {
  font-size: 1rem;
  font-weight: 400;
}

.bd-style03 {
  font-size: 0.875rem;
  font-weight: 400;
}

.bd-style04 {
  font-size: 0.75rem;
  font-weight: 400;
}