/* =================== base =================== */
html,
body,
[class] {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.15;
  font-family: "roboto", "noto", sans-serif;
  letter-spacing: -0.04em;
  word-break: keep-all;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-wrap: break-word;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: #212529;
  cursor: pointer;
}

button,
input {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ol,
ul,
dl {
  list-style: none;
}

textarea {
  resize: none;
}

select {
  padding: 5px 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset img */
img {
  max-width: 100%;
  height: auto;
}

/* =================== fonts =================== */
/* ---------- noto sans kr ---------- */
@font-face {
  font-family: "noto";
  font-weight: 400;
  src: url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "noto";
  font-weight: 500;
  src: url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "noto";
  font-weight: 600;
  src: url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype");
  font-display: swap;
}
/* ---------- roboto ---------- */
@font-face {
  font-family: "roboto";
  font-weight: 400;
  src: url("../../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  font-weight: 500;
  src: url("../../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  font-weight: 600;
  src: url("../../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Bold.otf") format("opentype");
  font-display: swap;
}
/* =================== helper =================== */
.d-none {
  display: none;
}

.voice-only {
  overflow: hidden;
  z-index: -10;
  position: relative;
  top: 0;
  left: -1px;
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: transparent !important;
}

.text-center {
  text-align: center;
}

.flex-btw-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scroll-custom {
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}
.scroll-custom::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #ced4da;
  border-radius: 0;
}

@media all and (max-width: 768px) {
  .tab-hide {
    display: none !important;
  }
}

.tab-show {
  display: none !important;
}
@media all and (max-width: 768px) {
  .tab-show {
    display: block !important;
  }
}

/* =================== layout =================== */
#page {
  min-height: 100vh;
  padding-top: 50px;
  padding-left: 260px;
  padding-bottom: 100px;
}
#page.tab-size {
  padding-left: 0;
}

.manage-main {
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-ttl {
  font-size: 1.875rem;
  font-weight: 600;
}

.sub-ttl {
  font-size: 1.5rem;
  font-weight: 600;
}

.page-breadcrumb {
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 4px;
  color: #adb5bd;
}

.empty-content {
  width: 100%;
  text-align: center;
  padding: 100px 0;
}
.empty-content .txt {
  font-weight: 400;
  color: #212529;
  opacity: 0.8;
}

.pagination-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 34px;
}

.card-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(16.666% - 17px);
  height: 120px;
  padding: 20px;
  background-color: #f6f7f8;
}
@media all and (max-width: 1280px) {
  .card-basic {
    width: calc(33.333% - 14px);
    height: 90px;
  }
}
@media all and (max-width: 768px) {
  .card-basic {
    width: calc(50% - 10px);
  }
}
.card-basic .card-ttl {
  font-size: 1.125rem;
  font-weight: 400;
}
@media all and (max-width: 1350px) {
  .card-basic .card-ttl {
    font-size: 1rem;
  }
}
@media all and (max-width: 1280px) {
  .card-basic .card-ttl {
    font-size: 0.75rem;
  }
}
.card-basic .card-dec {
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
}
@media all and (max-width: 1350px) {
  .card-basic .card-dec {
    font-size: 0.875rem;
  }
}
@media all and (max-width: 1280px) {
  .card-basic .card-dec {
    font-size: 0.625rem;
  }
}
@media all and (max-width: 1350px) {
  .card-basic .card-dec b {
    font-size: 1.5625rem;
  }
}
@media all and (max-width: 1280px) {
  .card-basic .card-dec b {
    font-size: 1.125rem;
  }
}

.tab-title-container {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  margin-top: 46px;
  border-bottom: 1px solid #dee2e6;
  white-space: nowrap;
}
.tab-title-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.tab-title-container::-webkit-scrollbar-thumb {
  background-color: #ced4da;
  border-radius: 0;
}

.tab-title {
  display: inline-block;
  min-width: 130px;
  margin: 0;
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.tab-title .tab-title-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: -4px;
  padding-bottom: 15px;
  border-radius: 0;
  text-align: center;
}
.tab-title:hover, .tab-title:focus {
  border-color: #92a9d3;
}
.tab-title.active {
  border-color: #2c436d;
}

/* =================== header =================== */
.skip-nav {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #1d2d49;
  line-height: 40px;
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
}
.skip-nav:focus {
  z-index: 20;
}

.manage-top-hd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #f1f3f5;
}
.manage-top-hd .btns-wrap {
  position: absolute;
  top: 50%;
  left: auto;
  right: 10px;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.manage-top-hd .btns-wrap > span,
.manage-top-hd .btns-wrap > a {
  font-size: 0.875rem;
  font-weight: 400;
}
.manage-top-hd .btn {
  margin: 0;
}

.manage-left-hd {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  border-right: 1px solid #f1f3f5;
  background-color: #fff;
}
@media all and (max-width: 768px) {
  .tab-size .manage-left-hd {
    overflow: hidden;
    width: 50px;
    height: 50px;
  }
}

.manage-left-hd.tab-active {
  width: 100vw;
  height: 100vh;
}
.manage-left-hd.tab-active .btn-gnb-icon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.manage-left-hd.tab-active .btn-gnb-icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.manage-left-hd .btn-gnb-icon {
  z-index: 2;
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
}
.manage-left-hd .btn-gnb-icon:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 3px;
  margin-top: -7px;
  margin-left: -20%;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.manage-left-hd .btn-gnb-icon:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 3px;
  margin-top: -7px;
  margin-left: -20%;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.manage-left-hd .btn-gnb-icon:after {
  margin-top: 7px;
}
.manage-left-hd .manage-logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 170px;
  padding: 25px 30px;
  background-color: #3b5a93;
  color: white;
}
.manage-left-hd .manage-logo-wrap .desc {
  font-size: 0.875rem;
  font-weight: 600;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #334e7f;
  text-align: center;
}
.manage-left-hd .manage-gnb {
  height: calc(100vh - 170px);
}
.manage-left-hd .nav-ttl {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 32px;
  border-top: 1px solid #e9ecef;
  font-weight: 400;
  font-size: 1rem;
  line-height: 60px;
  text-align: left;
  cursor: pointer;
}
.manage-left-hd .nav-ttl:hover, .manage-left-hd .nav-ttl:focus {
  color: #3b5a93;
}
.manage-left-hd .nav-ttl:first-child {
  border-top: 0;
}
.manage-left-hd .nav-ttl.on + .nav-list-wrap, .manage-left-hd .nav-ttl.active + .nav-list-wrap {
  display: block;
}
.manage-left-hd .nav-list-wrap {
  display: none;
  padding: 9px 48px 15px;
  background-color: #f6f7f8;
}
.manage-left-hd .nav-link {
  position: relative;
  display: block;
  height: 32px;
  margin-top: 6px;
  border-bottom: 1px solid transparent;
  font-size: 0.875rem;
  line-height: 32px;
  color: #adb5bd;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: color;
  transition-property: color;
}
.manage-left-hd .nav-link:hover, .manage-left-hd .nav-link:focus {
  color: #6d8cc5;
}
.manage-left-hd .nav-link.active {
  color: #3b5a93;
}
.manage-left-hd .nav-link.active:before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: -15px;
  width: 7px;
  height: 7px;
  border-left: 1.5px solid #3b5a93;
  border-bottom: 1.5px solid #3b5a93;
}

/* =================== button =================== */
.btns-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.btns-wrap:not(:first-child) {
  margin-top: 5px;
}
.btns-wrap .btn:not(:first-of-type) {
  margin-left: 10px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-m {
  height: 32px;
  padding: 0 12px;
  font-size: 0.875rem;
}

.btn-l {
  height: 40px;
  padding: 0 20px;
  font-size: 0.875rem;
}

.btn-xl {
  height: 48px;
  padding: 0 40px;
  font-size: 1.125rem;
}

.btn-red {
  border: 1px solid #fc685e;
  background-color: #fc685e;
  color: #fff;
}
.btn-red:hover, .btn-red:focus {
  border-color: #fd9791;
  background-color: #fd9791;
  color: #fff;
}
.btn-red:active {
  border-color: #fb5146;
  background-color: #fb5146;
  color: #fff;
}
.btn-red:disabled, .btn-red:disabled:hover, .btn-red:disabled:focus {
  border-color: #fdaeaa;
  background-color: #fdaeaa;
  color: #fff;
  cursor: not-allowed;
}

.btn-main {
  border: 1px solid #3b5a93;
  background-color: #3b5a93;
  color: #fff;
}
.btn-main:hover, .btn-main:focus {
  border-color: #6d8cc5;
  background-color: #6d8cc5;
  color: #fff;
}
.btn-main:active {
  border-color: #334e7f;
  background-color: #334e7f;
  color: #fff;
}
.btn-main:disabled, .btn-main:disabled:hover, .btn-main:disabled:focus {
  border-color: #92a9d3;
  background-color: #92a9d3;
  color: #fff;
  cursor: not-allowed;
}

.btn-bd-red {
  border: 1px solid #fc685e;
  color: #fc685e;
}
.btn-bd-red:hover, .btn-bd-red:focus {
  border-color: #fd9791;
  color: #fd9791;
}
.btn-bd-red:active {
  border-color: #fb5146;
  color: #fb5146;
}
.btn-bd-red:disabled, .btn-bd-red:disabled:hover, .btn-bd-red:disabled:focus {
  border-color: #fdaeaa;
  color: #fdaeaa;
  cursor: not-allowed;
}

.btn-bd-main {
  border: 1px solid #3b5a93;
  color: #3b5a93;
}
.btn-bd-main:hover, .btn-bd-main:focus {
  border-color: #6d8cc5;
  color: #6d8cc5;
}
.btn-bd-main:active {
  border-color: #334e7f;
  color: #334e7f;
}
.btn-bd-main:disabled, .btn-bd-main:disabled:hover, .btn-bd-main:disabled:focus {
  border-color: #92a9d3;
  color: #92a9d3;
  cursor: not-allowed;
}

.btn-basic {
  border: 1px solid #dee2e6;
  background-color: #f6f7f8;
  color: #212529;
}
.btn-basic:hover, .btn-basic:focus {
  border-color: #f6f7f8;
  background-color: #f6f7f8;
  color: #868e96;
}
.btn-basic:active {
  border-color: #e9ecef;
  background-color: #e9ecef;
  color: #868e96;
}
.btn-basic:disabled, .btn-basic:disabled:hover, .btn-basic:disabled:focus {
  border-color: #f6f7f8;
  background-color: #f6f7f8;
  color: #ced4da;
  cursor: not-allowed;
}

.btn-bd-basic {
  border: 1px solid #dee2e6;
  color: #212529;
}
.btn-bd-basic:hover, .btn-bd-basic:focus {
  border-color: #e9ecef;
  color: #ced4da;
}
.btn-bd-basic:active {
  border-color: #ced4da;
  color: #868e96;
}
.btn-bd-basic:disabled, .btn-bd-basic:disabled:hover, .btn-bd-basic:disabled:focus {
  border-color: #dee2e6;
  color: #ced4da;
  cursor: not-allowed;
}

.btn-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  font-size: 1px;
  font-weight: 0;
  color: transparent;
  text-indent: -rem;
}
.btn-close:hover:before, .btn-close:hover:after, .btn-close:focus:before, .btn-close:focus:after {
  height: 23px;
}
.btn-close:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: #fff;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.btn-close:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: #fff;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.btn-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.btn-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-page {
  font-size: 0.875rem;
  font-weight: 400;
  min-width: 32px;
  height: 32px;
  margin-left: -1px;
  padding: 0 12px;
  border: 1px solid #dee2e6;
  border-radius: 0;
}
.btn-page:nth-child(2) {
  border-radius: 4px 0 0 4px;
}
.btn-page:nth-last-child(2) {
  border-radius: 0 4px 4px 0;
}
.btn-page:hover, .btn-page:focus {
  color: #adb5bd;
}
.btn-page.on {
  border-color: #3b5a93;
  color: #3b5a93;
}
.btn-page-prev, .btn-page-next {
  margin-right: 13px;
  padding: 0;
}
.btn-page-prev:before, .btn-page-next:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #212529;
  border-left: 2px solid #212529;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.btn-page-prev:hover:before, .btn-page-prev:focus:before, .btn-page-next:hover:before, .btn-page-next:focus:before {
  border-color: #adb5bd;
}
.btn-page-next {
  margin-right: 0;
  margin-left: 13px;
}
.btn-page-next:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.btn-page-icon {
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  position: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 0;
}

/* =================== form =================== */
.inp-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 14px;
}
.inp-wrap .inp-grp {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.inp-grp:first-child {
  margin-top: 0;
}

.input {
  display: block;
  width: 100%;
  height: 40px;
  margin-left: 10px;
  padding: 0 10px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: transparent;
  font-size: 0.875rem;
}
.input:first-of-type {
  margin-left: 0;
}
.input:hover, .input:focus {
  border-color: #3b5a93;
}
.input::-webkit-input-placeholder {
  color: #adb5bd;
}
.input::-moz-placeholder {
  color: #adb5bd;
}
.input:-ms-input-placeholder {
  color: #adb5bd;
}
.input::-ms-input-placeholder {
  color: #adb5bd;
}
.input::placeholder {
  color: #adb5bd;
}
.input:disabled {
  background-color: #f6f7f8;
  color: #adb5bd;
  cursor: default;
}
.input:disabled:hover, .input:disabled:focus {
  border-color: #f1f3f5;
}

.inp-txt {
  width: 295px;
}

.inp-area {
  width: 100%;
  height: 200px;
  padding: 10px;
  resize: none;
}

.inp-label {
  overflow: hidden;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  color: transparent;
}

.inp-file {
  display: none;
}

.inp-file-label-field {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  height: 40px;
  line-height: 40px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  color: #adb5bd;
}

.inp-date {
  background-position: 14px center;
  background-size: 15px;
  background-repeat: no-repeat;
  background-image: url("../../images/icon/icon_calander.svg");
  position: relative;
  max-width: 130px;
  margin: 0;
  padding-left: 38px;
}
@media all and (max-width: 512px) {
  .inp-date {
    display: inline-block;
    max-width: 100vw;
    width: 40%;
  }
}
.inp-date ~ .date-icon {
  margin: 0 14px;
}
.inp-date::-webkit-calendar-picker-indicator {
  z-index: 0;
  position: relative;
  height: 40px;
  width: 100%;
  background-color: transparent;
  background-image: none;
}
.inp-date::-webkit-datetime-edit-fields-wrapper {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.inp-date-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
@media all and (max-width: 512px) {
  .inp-date-btns .btn {
    width: calc(33% - 3px);
  }
  .inp-date-btns .btn:not(:first-child) {
    margin: 0;
  }
}

.inp-select {
  background-image: url("../../images/icon/icon_select.svg");
  background-position: center right 5px;
  background-size: auto;
  background-repeat: no-repeat;
  width: 150px;
  padding-right: 25px;
  cursor: pointer;
}
.inp-select:hover, .inp-select:focus {
  background-image: url("../../images/icon/icon_select_on.svg");
}
.inp-select.with-conts {
  width: 100px;
}
.inp-select ~ .inp-txt {
  margin-left: 10px;
}

.chck-icon {
  width: 20px;
  height: 20px;
  background-image: url("../../images/icon/icon_check.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  border: 1.5px solid #e9ecef;
  border-radius: 4px;
  background-color: #fff;
  font-size: 0.0625rem;
  line-height: 0;
  color: transparent;
  text-indent: -100px;
  letter-spacing: -100px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.inp-chck:checked ~ .chck-icon {
  border-color: #3b5a93;
  background-color: #3b5a93;
}

.inp-chck:disabled ~ .chck-icon {
  background-image: url("../../images/icon/icon_check_disabled.svg");
  border-color: #f6f7f8;
  background-color: #f6f7f8;
}

.chck-txt {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 10px;
}

.radio-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: block;
  border: 1.5px solid #dee2e6;
  background-color: #fff;
  font-size: 0.0625rem;
  line-height: 0;
  color: transparent;
  text-indent: -100px;
  letter-spacing: -100px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.radio-icon:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.inp-radio:checked ~ .radio-icon {
  border-color: #3b5a93;
}
.inp-radio:checked ~ .radio-icon:before {
  background-color: #3b5a93;
}

.inp-radio:disabled ~ .radio-icon {
  border-color: #dee2e6;
}
.inp-radio:disabled ~ .radio-icon:before {
  background-color: #dee2e6;
}

.radio-txt {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 10px;
}

.table-wrap {
  overflow: auto;
  margin-top: 25px;
  -ms-scroll-chaining: chained;
      overscroll-behavior: auto;
}

.table-control-wrap .table-control-right .btns-wrap {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media all and (max-width: 1360px) {
  .table-control-wrap {
    display: block;
  }
  .table-control-wrap .btns-wrap .btn {
    margin-top: 15px;
  }
}
@media all and (max-width: 768px) {
  .table-control-wrap .inp-select.with-conts {
    width: 100%;
  }
  .table-control-wrap .btns-wrap .btn {
    width: 100%;
    margin-top: 10px;
  }
  .table-control-wrap .btns-wrap .btn:not(:first-of-type) {
    margin-left: 0;
  }
}

.search-result {
  background-position: left center;
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_29_6880)'%3E%3Cpath d='M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z' fill='%23CED4DA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_29_6880'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.search-result > b {
  font-size: 1.5rem;
  font-weight: 600;
}

.control-inputs-wrap .control-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 1360px) {
  .control-inputs-wrap .control-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
}
.control-inputs-wrap .control-group:not(:first-child) {
  margin-left: 40px;
}
@media all and (max-width: 1360px) {
  .control-inputs-wrap .control-group:not(:first-child) {
    margin-left: 0;
  }
}
.control-inputs-wrap .control-group > span {
  font-size: 1rem;
  font-weight: 400;
}
@media all and (max-width: 1360px) {
  .control-inputs-wrap .control-group > span {
    margin-right: 10px;
  }
}
.control-inputs-wrap .control-group .inp-select {
  width: 140px;
}
@media all and (max-width: 768px) {
  .control-inputs-wrap .control-group .inp-select {
    width: 100%;
  }
}
.control-inputs-wrap .control-group > button,
.control-inputs-wrap .control-group > select {
  margin-left: 14px;
}
@media all and (max-width: 1360px) {
  .control-inputs-wrap .control-group > button,
  .control-inputs-wrap .control-group > select {
    margin-left: 0;
    margin-right: 10px;
  }
}
@media all and (max-width: 768px) {
  .control-inputs-wrap .control-group > button,
  .control-inputs-wrap .control-group > select {
    width: 100%;
    margin-top: 5px;
  }
}

.manage-table {
  min-width: 1200px;
  width: 100%;
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
}
.manage-table .manage-table-row:hover, .manage-table .manage-table-row:focus {
  background-color: #f1f3f5;
}
.manage-table .manage-table-row.chck-row {
  background-color: #e9ecef;
}
.manage-table .manage-table-hd {
  position: sticky;
  top: 0;
  left: 0;
}
.manage-table .cell {
  height: 48px;
  padding: 0 15px;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: 0.875rem;
}
.manage-table th.cell {
  background-color: #f6f7f8;
}
.manage-table .cell-chck {
  width: 3em;
}
.manage-table .cell-chck .inp-grp {
  display: inline-block;
}
.manage-table .cell-num {
  width: 3em;
}
.manage-table .cell-division {
  width: 5em;
}
.manage-table .cell-ttl {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  height: 48px;
  line-height: 48px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.manage-table td.cell-ttl {
  text-align: left;
}
.manage-table .cell-date {
  width: 15em;
}
.manage-table .cell-place {
  width: 8em;
}
.manage-table .cell-target {
  width: 5.5em;
}
.manage-table .cell-atnum {
  width: 5.5em;
}
.manage-table .cell-atrate {
  width: 3em;
}
.manage-table .cell-more {
  width: 6.5em;
}

.custom-table-container-ttl {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 30px;
}

.custom-table-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.custom-table-wrap .custom-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #dee2e6;
}
@media all and (max-width: 1570px) {
  .custom-table-wrap .custom-table-row {
    display: block;
  }
}
.custom-table-wrap .custom-table-row.full-size {
  width: 100%;
}
.custom-table-wrap .custom-table-row.half-size {
  width: 50%;
}
@media all and (max-width: 1570px) {
  .custom-table-wrap .custom-table-row.half-size {
    width: 100%;
  }
}
.custom-table-wrap .custom-table-ttl {
  width: 180px;
  min-height: 80px;
  padding-left: 15px;
  background-color: #f6f7f8;
  line-height: 80px;
}
@media all and (max-width: 1570px) {
  .custom-table-wrap .custom-table-ttl {
    width: 100%;
    min-height: 50px;
    line-height: 50px;
  }
}
@media all and (max-width: 1280px) {
  .custom-table-wrap .custom-table-ttl {
    padding-left: 10px;
  }
}
.custom-table-wrap .custom-table-desc {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc(100% - 200px);
}
@media all and (max-width: 1280px) {
  .custom-table-wrap .custom-table-desc {
    display: block;
    width: 100%;
  }
  .custom-table-wrap .custom-table-desc .btns-wrap {
    padding: 0 10px 10px;
  }
  .custom-table-wrap .custom-table-desc .chck-grp {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media all and (max-width: 512px) {
  .custom-table-wrap .custom-table-desc .inp-select,
  .custom-table-wrap .custom-table-desc .inp-txt {
    width: 100%;
    margin-left: 0;
  }
}
.custom-table-wrap .inp-grp {
  margin: 0;
  padding: 15px;
}
@media all and (max-width: 1280px) {
  .custom-table-wrap .inp-grp {
    padding: 10px;
  }
}
@media all and (max-width: 512px) {
  .custom-table-wrap .inp-grp {
    display: block;
    width: 100%;
  }
}
.custom-table-wrap .inp-grp .input {
  margin: 0;
}
.custom-table-wrap .inp-grp .inp-file-label-field {
  margin-right: 14px;
}
.custom-table-wrap .inp-grp .inp-select ~ .inp-txt {
  margin-left: 14px;
}
@media all and (max-width: 512px) {
  .custom-table-wrap .inp-grp .inp-select ~ .inp-txt {
    margin-top: 5px;
    margin-left: 0;
  }
}
.custom-table-wrap .search-btn-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 36px;
  margin: 0;
}
@media all and (max-width: 768px) {
  .custom-table-wrap .search-btn-wrap {
    padding-top: 20px;
  }
}
@media all and (max-width: 512px) {
  .custom-table-wrap .search-btn-wrap {
    padding-top: 10px;
  }
}
@media all and (max-width: 512px) {
  .custom-table-wrap .search-btn-wrap .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
.custom-table-wrap .search-btn-wrap .btn:not(:first-child) {
  margin-left: 20px;
}
@media all and (max-width: 512px) {
  .custom-table-wrap .search-btn-wrap .btn:not(:first-child) {
    margin-left: 0;
  }
}
.custom-table-wrap .custom-table-rowspan-2input .custom-table-ttl {
  min-height: 130px;
  line-height: 130px;
}
@media all and (max-width: 1570px) {
  .custom-table-wrap .custom-table-rowspan-2input .custom-table-ttl {
    min-height: 50px;
    line-height: 50px;
  }
}
.custom-table-wrap .custom-table-rowspan2 .custom-table-ttl {
  min-height: 160px;
  line-height: 160px;
}
@media all and (max-width: 1570px) {
  .custom-table-wrap .custom-table-rowspan2 .custom-table-ttl {
    min-height: 50px;
    line-height: 50px;
  }
}
.custom-table-wrap .custom-table-rowspan4 .custom-table-ttl {
  min-height: 323px;
  line-height: 323px;
}
@media all and (max-width: 1570px) {
  .custom-table-wrap .custom-table-rowspan4 .custom-table-ttl {
    min-height: 50px;
    line-height: 50px;
  }
}
.custom-table-wrap .custom-table-rowspan-cellhalf {
  width: 50%;
}
@media all and (max-width: 1570px) {
  .custom-table-wrap .custom-table-rowspan-cellhalf {
    width: 100%;
  }
}

.custom-table-container.search-table {
  margin: 50px 0;
}

.image-uplomanage-wrap {
  padding: 20px;
}
.image-uplomanage-wrap .inp-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-top: 20px;
}
.image-uplomanage-wrap .inp-grp .btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.address-wrap .inp-grp {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
}
.address-wrap .btn {
  margin-left: 10px;
}
@media all and (max-width: 1024px) {
  .address-wrap .btn {
    position: absolute;
    top: 15px;
    left: auto;
    right: 15px;
  }
}
@media all and (max-width: 1024px) {
  .address-wrap .input {
    width: 100%;
  }
}
.address-wrap .input:last-child {
  margin-top: 10px;
}
@media all and (max-width: 1570px) {
  .address-wrap .input:last-child {
    margin-top: 0;
    margin-left: 10px;
  }
}
@media all and (max-width: 1024px) {
  .address-wrap .input:last-child {
    margin-top: 10px;
    margin-left: 0;
  }
}

/* =================== modal =================== */
.modal {
  overflow: scroll;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  z-index: -11;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: #fff;
}
.modal::-webkit-scrollbar-thumb {
  background-color: #ced4da;
  border-radius: 0;
}
.modal.active {
  z-index: 100;
  opacity: 1;
}
.modal.active .modal-container {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal-bg {
  width: 100%;
  height: 101vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 800px;
  height: 90%;
  max-height: 600px;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal .btn-close {
  border-radius: 0;
  background-color: #3b5a93;
}

.mini-modal .modal-container {
  max-width: 380px;
  height: auto;
  max-height: 250px;
}

.modal-ttl {
  font-size: 1.125rem;
  font-weight: 400;
  height: 40px;
  background-color: #3b5a93;
  line-height: 40px;
  font-weight: 600;
  text-indent: 0.2em;
  color: #fff;
}

.alert-conts-wrapper {
  overflow: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  width: 100%;
  height: calc(100% - 40px);
  max-height: 210px;
  padding: 15px;
  text-align: center;
}
.alert-conts-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.alert-conts-wrapper::-webkit-scrollbar-thumb {
  background-color: #ced4da;
  border-radius: 0;
}
.alert-conts-wrapper .btns-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}