/* =================== base =================== */
html,
body,
[class] {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.15;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "roboto", "noto", sans-serif;
  letter-spacing: -0.04em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: #212529;
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

textarea {
  resize: none;
}

select {
  padding: 5px 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset img */
img {
  max-width: 100%;
  height: auto;
}

/* =================== fonts =================== */
/* ---------- noto sans kr ---------- */
@font-face {
  font-family: "noto";
  font-weight: 400;
  src: url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "noto";
  font-weight: 500;
  src: url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "noto";
  font-weight: 600;
  src: url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype");
  font-display: swap;
}
/* ---------- roboto ---------- */
@font-face {
  font-family: "roboto";
  font-weight: 400;
  src: url("../../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  font-weight: 500;
  src: url("../../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  font-weight: 600;
  src: url("../../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Bold.otf") format("opentype");
  font-display: swap;
}
/* =================== helper =================== */
.d-none {
  display: none;
}

.voice-only {
  overflow: hidden;
  z-index: -10;
  position: relative;
  top: 0;
  left: -1px;
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: transparent !important;
}

.text-center {
  text-align: center;
}

.flex-btw-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scroll-custom {
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}
.scroll-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #F1F3F5;
  border-radius: 0;
}
html.ie .scroll-custom {
  scrollbar-arrow-color: #F1F3F5;
  scrollbar-face-color: #F1F3F5;
  scrollbar-track-color: #fff;
}

/* =================== layout =================== */
#page {
  min-height: 100vh;
  padding-top: 60px;
  padding-left: 260px;
  padding-bottom: 100px;
}

.ad-main {
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px;
  padding: 0 15px;
}

.main-ttl {
  font-size: 1.875rem;
  font-weight: 600;
}

.sub-ttl {
  font-size: 1.5rem;
  font-weight: 600;
}

.page-breadcrumb {
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 4px;
  color: #ADB5BD;
}

.empty-content {
  width: 100%;
  text-align: center;
  padding: 100px 0;
}
.empty-content .txt {
  font-weight: 400;
  color: #212529;
  opacity: 0.8;
}

.pagination-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 34px;
}

.card-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(16.666% - 17px);
  height: 120px;
  padding: 20px;
  background-color: #F6F7F8;
}
.card-basic .card-ttl {
  font-size: 1.125rem;
  font-weight: 400;
}
.card-basic .card-dec {
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
}

.tab-title-container {
  margin-top: 46px;
  border-bottom: 1px solid #DEE2E6;
}

.tab-title {
  display: inline-block;
  width: 130px;
  margin: 0;
  border-bottom: 2px solid transparent;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.tab-title .tab-title-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: -4px;
  padding-bottom: 15px;
  border-radius: 0;
  text-align: center;
}
.tab-title:hover, .tab-title:focus {
  border-color: #92A9D3;
}
.tab-title.active {
  border-color: #2C436D;
}

/* =================== header =================== */
.ad-top-hd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #FFF;
  border-bottom: 1px solid #F1F3F5;
}
.ad-top-hd .btns-wrap {
  position: absolute;
  top: 50%;
  left: auto;
  right: 10px;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.ad-top-hd .btns-wrap > span,
.ad-top-hd .btns-wrap > a {
  font-size: 0.875rem;
  font-weight: 400;
}
.ad-top-hd .btn {
  margin: 0;
}

.ad-left-hd {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  border-right: 1px solid #F1F3F5;
  background-color: #FFF;
}
.ad-left-hd .ad-logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 170px;
  padding: 25px 30px;
  background-color: #3B5A93;
  color: white;
}
.ad-left-hd .ad-logo-wrap .desc {
  font-size: 0.875rem;
  font-weight: 600;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #334E7F;
  text-align: center;
}
.ad-left-hd .ad-gnb {
  height: calc(100vh - 170px);
}
.ad-left-hd .nav-ttl {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 32px;
  border-top: 1px solid #E9ECEF;
  line-height: 60px;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
}
.ad-left-hd .nav-ttl:hover, .ad-left-hd .nav-ttl:focus {
  color: #3B5A93;
}
.ad-left-hd .nav-ttl:first-child {
  border-top: 0;
}
.ad-left-hd .nav-ttl.on + .nav-list-wrap, .ad-left-hd .nav-ttl.active + .nav-list-wrap {
  display: block;
}
.ad-left-hd .nav-list-wrap {
  display: none;
  padding: 9px 48px 15px;
  background-color: #F6F7F8;
}
.ad-left-hd .nav-link {
  position: relative;
  display: block;
  height: 32px;
  margin-top: 6px;
  border-bottom: 1px solid transparent;
  line-height: 32px;
  font-size: 0.875rem;
  color: #ADB5BD;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: color;
  transition-property: color;
}
.ad-left-hd .nav-link:hover, .ad-left-hd .nav-link:focus {
  color: #6D8CC5;
}
.ad-left-hd .nav-link.active {
  color: #3B5A93;
}
.ad-left-hd .nav-link.active:before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: -15px;
  width: 7px;
  height: 7px;
  border-left: 1.5px solid #3B5A93;
  border-bottom: 1.5px solid #3B5A93;
}

/* =================== button =================== */
.btns-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.btns-wrap:not(:first-child) {
  margin-top: 5px;
}
.btns-wrap .btn:not(:first-of-type) {
  margin-left: 10px;
}

.btn {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-m {
  height: 32px;
  padding: 0 12px;
  font-size: 0.875rem;
}

.btn-l {
  height: 40px;
  padding: 0 20px;
  font-size: 0.875rem;
}

.btn-xl {
  height: 48px;
  padding: 0 40px;
  font-size: 1.125rem;
}

.btn-red {
  border: 1px solid #FC685E;
  background-color: #FC685E;
  color: #FFF;
}
.btn-red:hover, .btn-red:focus {
  border-color: #FD9791;
  background-color: #FD9791;
  color: #FFF;
}
.btn-red:active {
  border-color: #FB5146;
  background-color: #FB5146;
  color: #FFF;
}
.btn-red:disabled, .btn-red:disabled:hover, .btn-red:disabled:focus {
  border-color: #FDAEAA;
  background-color: #FDAEAA;
  color: #FFF;
  cursor: not-allowed;
}

.btn-primary {
  border: 1px solid #3B5A93;
  background-color: #3B5A93;
  color: #FFF;
}
.btn-primary:hover, .btn-primary:focus {
  border-color: #6D8CC5;
  background-color: #6D8CC5;
  color: #FFF;
}
.btn-primary:active {
  border-color: #334E7F;
  background-color: #334E7F;
  color: #FFF;
}
.btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:focus {
  border-color: #92A9D3;
  background-color: #92A9D3;
  color: #FFF;
  cursor: not-allowed;
}

.btn-ghost-red {
  border: 1px solid #FC685E;
  color: #FC685E;
}
.btn-ghost-red:hover, .btn-ghost-red:focus {
  border-color: #FD9791;
  color: #FD9791;
}
.btn-ghost-red:active {
  border-color: #FB5146;
  color: #FB5146;
}
.btn-ghost-red:disabled, .btn-ghost-red:disabled:hover, .btn-ghost-red:disabled:focus {
  border-color: #FDAEAA;
  color: #FDAEAA;
  cursor: not-allowed;
}

.btn-ghost-primary {
  border: 1px solid #3B5A93;
  color: #3B5A93;
}
.btn-ghost-primary:hover, .btn-ghost-primary:focus {
  border-color: #6D8CC5;
  color: #6D8CC5;
}
.btn-ghost-primary:active {
  border-color: #334E7F;
  color: #334E7F;
}
.btn-ghost-primary:disabled, .btn-ghost-primary:disabled:hover, .btn-ghost-primary:disabled:focus {
  border-color: #92A9D3;
  color: #92A9D3;
  cursor: not-allowed;
}

.btn-basic {
  border: 1px solid #DEE2E6;
  background-color: #F6F7F8;
  color: #212529;
}
.btn-basic:hover, .btn-basic:focus {
  border-color: #F6F7F8;
  background-color: #F6F7F8;
  color: #868E96;
}
.btn-basic:active {
  border-color: #E9ECEF;
  background-color: #E9ECEF;
  color: #868E96;
}
.btn-basic:disabled, .btn-basic:disabled:hover, .btn-basic:disabled:focus {
  border-color: #F6F7F8;
  background-color: #F6F7F8;
  color: #CED4DA;
  cursor: not-allowed;
}

.btn-ghost-basic {
  border: 1px solid #DEE2E6;
  color: #212529;
}
.btn-ghost-basic:hover, .btn-ghost-basic:focus {
  border-color: #E9ECEF;
  color: #CED4DA;
}
.btn-ghost-basic:active {
  border-color: #CED4DA;
  color: #868E96;
}
.btn-ghost-basic:disabled, .btn-ghost-basic:disabled:hover, .btn-ghost-basic:disabled:focus {
  border-color: #DEE2E6;
  color: #CED4DA;
  cursor: not-allowed;
}

.btn-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  font-size: 1px;
  font-weight: 0;
  color: transparent;
  text-indent: -rem;
}
.btn-close:hover:before, .btn-close:hover:after, .btn-close:focus:before, .btn-close:focus:after {
  height: 23px;
}
.btn-close:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: #FFF;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.btn-close:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: #FFF;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.btn-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.btn-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-page {
  font-size: 0.875rem;
  font-weight: 400;
  min-width: 32px;
  height: 32px;
  margin-left: -1px;
  padding: 0 12px;
  border: 1px solid #DEE2E6;
  border-radius: 0;
}
.btn-page:nth-child(2) {
  border-radius: 4px 0 0 4px;
}
.btn-page:nth-last-child(2) {
  border-radius: 0 4px 4px 0;
}
.btn-page:hover, .btn-page:focus {
  color: #ADB5BD;
}
.btn-page.on {
  border-color: #3B5A93;
  color: #3B5A93;
}
.btn-page-prev, .btn-page-next {
  margin-right: 13px;
  padding: 0;
}
.btn-page-prev:before, .btn-page-next:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #212529;
  border-left: 2px solid #212529;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.btn-page-prev:hover:before, .btn-page-prev:focus:before, .btn-page-next:hover:before, .btn-page-next:focus:before {
  border-color: #ADB5BD;
}
.btn-page-next {
  margin-right: 0;
  margin-left: 13px;
}
.btn-page-next:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.btn-page-icon {
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  position: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 0;
}

/* =================== form =================== */
.inp-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 14px;
}
.inp-wrap .inp-grp {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.inp-grp:first-child {
  margin-top: 0;
}

.input {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 0.875rem;
  border: 1px solid #DEE2E6;
  margin-left: 10px;
}
.input:first-of-type {
  margin-left: 0;
}
.input:hover, .input:focus {
  border-color: #3B5A93;
}
.input::-webkit-input-placeholder {
  color: #ADB5BD;
}
.input::-moz-placeholder {
  color: #ADB5BD;
}
.input:-ms-input-placeholder {
  color: #ADB5BD;
}
.input::-ms-input-placeholder {
  color: #ADB5BD;
}
.input::placeholder {
  color: #ADB5BD;
}
.input:disabled {
  background-color: #F6F7F8;
  color: #ADB5BD;
  cursor: default;
}
.input:disabled:hover, .input:disabled:focus {
  border-color: #F1F3F5;
}

.inp-txt {
  width: 295px;
}

.inp-area {
  width: 100%;
  height: 200px;
  padding: 10px;
  resize: none;
}

.inp-label {
  overflow: hidden;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.inp-file {
  display: none;
}

.inp-file-label-field {
  line-height: 40px;
  color: #ADB5BD;
}

.inp-date {
  background-position: 14px center;
  background-size: 15px;
  background-repeat: no-repeat;
  background-image: url("../../images/icon/icon_calander.svg");
  position: relative;
  max-width: 130px;
  padding-left: 38px;
}
.inp-date ~ .date-icon {
  margin: 0 14px;
}
.inp-date::-webkit-calendar-picker-indicator {
  height: 40px;
  width: 100%;
  background-color: transparent;
  background-image: none;
  position: relative;
  z-index: 0;
}
.inp-date::-webkit-datetime-edit-fields-wrapper {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.inp-select {
  background-image: url("../../images/icon/icon_select.svg");
  background-position: center right 5px;
  background-size: auto;
  background-repeat: no-repeat;
  width: 150px;
  padding-right: 25px;
  cursor: pointer;
}
.inp-select:hover, .inp-select:focus {
  background-image: url("../../images/icon/icon_select_on.svg");
}
.inp-select.with-conts {
  width: 100px;
}
.inp-select ~ .inp-txt {
  margin-left: 10px;
}

.chck-icon {
  width: 20px;
  height: 20px;
  background-image: url("../../images/icon/icon_check.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  border: 1.5px solid #E9ECEF;
  border-radius: 4px;
  background-color: #FFF;
  line-height: 0;
  font-size: 0.0625rem;
  color: transparent;
  text-indent: -100px;
  letter-spacing: -100px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.inp-chck:checked ~ .chck-icon {
  border-color: #3B5A93;
  background-color: #3B5A93;
}

.inp-chck:disabled ~ .chck-icon {
  background-image: url("../../images/icon/icon_check_disabled.svg");
  border-color: #F6F7F8;
  background-color: #F6F7F8;
}

.chck-txt {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 10px;
}

.radio-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: block;
  border: 1.5px solid #DEE2E6;
  background-color: #FFF;
  line-height: 0;
  font-size: 0.0625rem;
  color: transparent;
  text-indent: -100px;
  letter-spacing: -100px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.radio-icon:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FFF;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.inp-radio:checked ~ .radio-icon {
  border-color: #3B5A93;
}
.inp-radio:checked ~ .radio-icon:before {
  background-color: #3B5A93;
}

.inp-radio:disabled ~ .radio-icon {
  border-color: #DEE2E6;
}
.inp-radio:disabled ~ .radio-icon:before {
  background-color: #DEE2E6;
}

.radio-txt {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 10px;
}

.table-wrap {
  overflow: auto;
  margin-top: 25px;
}

.search-result {
  background-position: left center;
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_29_6880)'%3E%3Cpath d='M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z' fill='%23CED4DA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_29_6880'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.search-result > b {
  font-size: 1.5rem;
  font-weight: 600;
}

.control-inputs-wrap .control-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.control-inputs-wrap .control-group:not(:first-child) {
  margin-left: 40px;
}
.control-inputs-wrap .control-group > span {
  font-size: 1rem;
  font-weight: 400;
}
.control-inputs-wrap .control-group .inp-select {
  width: 140px;
}
.control-inputs-wrap .control-group > button,
.control-inputs-wrap .control-group > select {
  margin-left: 14px;
}

.ad-table {
  min-width: 1200px;
  width: 100%;
  border-top: 1px solid #E9ECEF;
  border-bottom: 1px solid #E9ECEF;
}
.ad-table .ad-table-row:hover, .ad-table .ad-table-row:focus {
  background-color: #E9ECEF;
}
.ad-table .ad-table-hd {
  position: sticky;
  top: 0;
  left: 0;
}
.ad-table .cell {
  height: 48px;
  padding: 0 15px;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: 0.875rem;
}
.ad-table th.cell {
  background-color: #F6F7F8;
}
.ad-table .cell-chck {
  width: 3em;
}
.ad-table .cell-chck .inp-grp {
  display: inline-block;
}
.ad-table .cell-num {
  width: 3em;
}
.ad-table .cell-division {
  width: 5em;
}
.ad-table .cell-ttl {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  line-height: 48px;
  height: 48px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.ad-table td.cell-ttl {
  text-align: left;
}
.ad-table .cell-date {
  width: 15em;
}
.ad-table .cell-place {
  width: 8em;
}
.ad-table .cell-target {
  width: 5.5em;
}
.ad-table .cell-atnum {
  width: 5.5em;
}
.ad-table .cell-atrate {
  width: 3em;
}
.ad-table .cell-more {
  width: 6.5em;
}

.custom-table-container-ttl {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 30px;
}

.custom-table-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.custom-table-wrap .custom-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #DEE2E6;
}
.custom-table-wrap .custom-table-row.full-size {
  width: 100%;
}
.custom-table-wrap .custom-table-row.half-size {
  width: 50%;
}
.custom-table-wrap .custom-table-ttl {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 180px;
  min-height: 80px;
  padding-left: 20px;
  background-color: #F6F7F8;
  line-height: 80px;
}
.custom-table-wrap .custom-table-desc {
  padding: 30px 22px;
}
.custom-table-wrap .inp-grp {
  margin: 0;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.custom-table-wrap .inp-grp .input {
  margin: 0;
}
.custom-table-wrap .inp-grp .inp-file-label-field {
  margin-right: 14px;
}
.custom-table-wrap .inp-grp .inp-select ~ .inp-txt {
  margin-left: 14px;
}
.custom-table-wrap .btns-wrap {
  margin: 0;
}
.custom-table-wrap .search-btn-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 36px;
}
.custom-table-wrap .search-btn-wrap .btn:not(:first-child) {
  margin-left: 20px;
}
.custom-table-wrap .custom-table-rowspan-2input .custom-table-ttl {
  min-height: 130px;
  line-height: 130px;
}
.custom-table-wrap .custom-table-rowspan2 .custom-table-ttl {
  min-height: 160px;
  line-height: 160px;
}
.custom-table-wrap .custom-table-rowspan4 .custom-table-ttl {
  min-height: 323px;
  line-height: 323px;
}
.custom-table-wrap .custom-table-rowspan-cellhalf {
  width: 50%;
}

.custom-table-container.search-table {
  margin: 50px 0;
}

.image-upload-wrap {
  padding: 20px;
}
.image-upload-wrap .inp-grp {
  padding: 0;
  padding-top: 20px;
}

.address-wrap .btn {
  margin-left: 14px;
}
.address-wrap .input:last-child {
  margin-top: 10px;
  width: 403px;
}

/* =================== popup =================== */
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.popup.active {
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}
.popup.active .popup-container {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.popup-bg {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-container {
  z-index: 2;
  position: relative;
  max-width: 50vw;
  min-width: 600px;
  max-height: 80vh;
  background-color: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.popup-hd {
  position: relative;
  height: 45px;
  padding: 0 40px;
  background-color: #3B5A93;
  line-height: 45px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #FFF;
}
.popup-ft {
  margin-bottom: 30px;
  padding: 0 40px;
}
.popup-ft .popup-ft-ttl {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.125rem;
  font-weight: 400;
}
.popup-ft .btns-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup-ft .btn {
  width: 40%;
}

.popup-conts-wrapper {
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  max-height: calc(80vh - 45px);
  padding: 0 40px;
}
.popup-conts-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
.popup-conts-wrapper::-webkit-scrollbar-thumb {
  background-color: #F1F3F5;
  border-radius: 0;
}
html.ie .popup-conts-wrapper {
  scrollbar-arrow-color: #F1F3F5;
  scrollbar-face-color: #F1F3F5;
  scrollbar-track-color: #fff;
}

.popup-conts-wrapper .pop-cont-ttl {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-weight: 500;
}
.popup-conts-wrapper .pop-cont-ttl .sm {
  margin-left: 5px;
  font-size: 0.875rem;
  font-weight: 300;
}
.popup-conts-wrapper .pop-cont-ttl .btn {
  font-size: 1rem;
}
.popup-conts-wrapper .pop-cont-ttl .inp-grp {
  margin-top: 0;
}
.popup-conts-wrapper .pop-cont-ttl .inp-select {
  margin-top: 0;
  font-size: 1rem;
}
.popup-conts-wrapper .sub-txt {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 400;
}
.popup-conts-wrapper .sub-txt .txt {
  margin-left: 8px;
  font-size: 1.25rem;
}
.popup-conts-wrapper .text-center {
  margin: 70px 0 60px;
}
.popup-conts-wrapper .inp-grp {
  margin-top: 16px;
}
.popup-conts-wrapper .inp-select {
  width: 100%;
  max-width: 100%;
}
.popup-conts-wrapper .btn {
  margin-top: 0;
  margin-bottom: 0;
}
.popup-conts-wrapper .ad-table {
  min-width: 800px;
}
.popup-conts-wrapper .cell-target {
  width: 10em;
}
.popup-conts-wrapper .pagination-wrap {
  margin-bottom: 30px;
}