/* =================== layout =================== */
#page {
  min-height: 100vh;
  padding-top: $hd-height;
  padding-left: $gnb-width;
}

.ad-main {
  overscroll-behavior: contain;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px;
  padding: 0 15px;
}

.main-ttl {
  @include ttl-style01;
}

.sub-ttl {
  @include ttl-style02;
}

.page-breadcrumb {
  @include bd-style03(400);

  margin-top: 4px;
  color: color(gray-500);
}

// empty content
.empty-content {
  width: 100%;
  text-align: center;
  padding: 100px 0;

  .txt {
    font-weight: 400;
    color: color(text);
    opacity: 0.8;
  }
}

// pagination
.pagination-wrap {
  @include flex-center;
}

// card
.card-wrap {
  @include flex {
    @include flex-op(stretch, flex-start);

    flex-wrap: wrap;
    gap: 20px;
  }
}

.card-basic {
  @include flex-col {
    justify-content: space-between;
  }

  width: calc(16.666% - 17px);
  height: 120px;
  padding: 20px;
  background-color: color(gray-50);

  .card-ttl {
    @include bd-style01(400);
  }

  .card-dec {
    @include bd-style02(400);

    text-align: right;
  }
}

// tab title area
.tab-title-container {
  border-bottom: 1px solid color(gray-300);
}

.tab-title {
  display: inline-block;
  width: 130px;
  margin: 0;
  border-bottom: 2px solid transparent;
  transform: translateY(1px);

  .tab-title-txt {
    display: flex;
    width: 100%;
    margin-left: -4px;
    padding-bottom: 15px;
    border-radius: 0;
    text-align: center;
  }

  @include hover {
    border-color: color(Primary-200);
  }

  &.active {
    border-color: color(Primary-700);
  }
}