/* =================== layout =================== */
#page {
  min-height: 100vh;

  padding: {
    top: $hd-height;
    left: $gnb-width;
    bottom: 100px;
  }

  &.tab-size {
    padding-left: 0;
  }
}

.manage-main {
  overscroll-behavior: contain;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-ttl {
  @include ttl-style01;
}

.sub-ttl {
  @include ttl-style02;
}

.page-breadcrumb {
  @include bd-style03;

  margin-top: 4px;
  color: color(gray-500);
}

// empty content
.empty-content {
  width: 100%;
  text-align: center;
  padding: 100px 0;

  .txt {
    font-weight: 400;
    color: color(text);
    opacity: 0.8;
  }
}

// pagination
.pagination-wrap {
  @include flex-center;

  margin-top: 30px;
}

// card
.card-wrap {
  @include flex {
    @include flex-op(stretch, flex-start);

    flex-wrap: wrap;
    gap: 20px;
  }

  margin-top: 34px;
}

.card-basic {
  @include flex-col {
    justify-content: space-between;
  }

  width: calc(16.666% - 17px);
  height: 120px;
  padding: 20px;
  background-color: color(gray-50);

  @include media(1280px) {
    width: calc(33.333% - 14px);
    height: 90px;
  }

  @include tablet() {
    width: calc(50% - 10px);
  }

  .card-ttl {
    @include bd-style01;

    @include media(1350px) {
      font-size: rem(16);
    }

    @include media(1280px) {
      font-size: rem(12);
    }
  }

  .card-dec {
    @include bd-style02;

    text-align: right;

    @include media(1350px) {
      font-size: rem(14);
    }

    @include media(1280px) {
      font-size: rem(10);
    }

    b {
      @include media(1350px) {
        font-size: rem(25);
      }

      @include media(1280px) {
        font-size: rem(18);
      }
    }
  }
}

// tab title area
.tab-title-container {
  @include custom-scroll;

  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  margin-top: 46px;
  border-bottom: 1px solid color(gray-300);
  white-space: nowrap;
}

.tab-title {
  display: inline-block;
  min-width: 130px;
  margin: 0;
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  transform: translateY(1px);

  .tab-title-txt {
    display: flex;
    width: 100%;
    margin-left: -4px;
    padding-bottom: 15px;
    border-radius: 0;
    text-align: center;
  }

  @include hover {
    border-color: color(main-200);
  }

  &.active {
    border-color: color(main-700);
  }
}
