/* =================== header =================== */
// top fixed
.ad-top-hd {
  @include flex-center;

  z-index: z(header);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $hd-height;
  background-color: color(gray-0);
  border-bottom: 1px solid color(gray-100);

  .ad-logo {
    font-size: rem(24);
    font-weight: 500;
  }

  .btns-wrap {
    position: absolute;
    top: 50%;
    left: auto;
    right: 10px;
    margin: 0;
    transform: translateY(-50%);
  }

  .btn {
    margin: 0;
  }
}

// left fixed
.ad-left-hd {
  z-index: z(double);
  position: fixed;
  top: 0;
  left: 0;
  width: $gnb-width;
  height: 100vh;
  // padding: 0 20px;
  padding-top: calc($hd-height + 20px);
  border-right: 1px solid color(gray-100);
  background-color: color(gray-0);

  .nav-ttl {
    @include input-reset;

    display: block;
    width: 100%;
    padding: 15px 20px;
    line-height: 30px;
    border-top: 1px solid color(gray-100);
    font-size: rem(18);
    font-weight: 500;
    text-align: left;
    cursor: pointer;

    @include hover {
      color: color(primary);
    }

    &:first-child {
      border-top: 0;
    }

    &.on {
      font-weight: 600;
      color: color(primary);
      border-bottom: 1px solid color(primary);
    }

    &.on+.nav-list-wrap,
    &.active+.nav-list-wrap {
      display: initial;
    }
  }

  .nav-list-wrap {
    display: none;
  }

  .nav-link {
    display: block;
    padding: 0 28px;
    height: 50px;
    border-bottom: 1px solid transparent;
    line-height: 50px;
    font-size: rem(18);
    transition-duration: 0.3s;
    transition-property: color;

    @include hover {
      border-color: color(primary);
      color: color(primary);
    }

    &.active {
      border-color: color(primary);
      color: color(primary);
    }
  }
}