/* =================== header =================== */
// skip nav
.skip-nav {
  z-index: z(minus);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: color(main-900);
  line-height: 40px;
  text-align: center;
  font-size: rem(20);
  color: color(white);

  &:focus {
    z-index: z(fixed);
  }
}
// top fixed
.manage-top-hd {
  @include flex-center;

  z-index: z(header);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $hd-height;
  background-color: color(gray-0);
  border-bottom: 1px solid color(gray-100);

  .btns-wrap {
    position: absolute;
    top: 50%;
    left: auto;
    right: 10px;
    margin: 0;
    transform: translateY(-50%);

    > span,
    > a {
      @include bd-style03;
    }
  }

  .btn {
    margin: 0;
  }
}

// left fixed
.manage-left-hd {
  z-index: z(header);
  position: fixed;
  top: 0;
  left: 0;
  width: $gnb-width;
  height: 100vh;
  border-right: 1px solid color(gray-100);
  background-color: color(gray-0);

  @at-root .tab-size & {
    @include tablet() {
      overflow: hidden;
      width: $hd-height;
      height: $hd-height;
    }
  }

  &.tab-active {
    width: 100vw;
    height: 100vh;

    .btn-gnb-icon:before {
      transform: rotate(-45deg);
    }

    .btn-gnb-icon:after {
      transform: rotate(45deg);
    }
  }

  .btn-gnb-icon {
    @include input-reset;

    z-index: z(two);
    position: absolute;
    display: block;
    width: $hd-height;
    height: $hd-height;

    @include make-virtual {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40%;
      height: 3px;
      margin-top: -7px;
      margin-left: -20%;
      border-radius: 3px;
      background-color: color(white);
      transition: all 0.2s;
    }

    &:after {
      margin-top: 7px;
    }
  }

  .manage-logo-wrap {
    @include flex {
      @include flex-op(center, space-between);

      flex-direction: column;
    }

    height: $logo-height;
    padding: 25px 30px;
    background-color: color(main);
    color: white;

    .desc {
      @include bd-style03(600);

      width: 100%;
      height: 48px;
      line-height: 48px;
      background-color: color(main-600);
      text-align: center;
    }
  }

  .manage-gnb {
    height: calc(100vh - $logo-height);
  }

  .nav-ttl {
    @include input-reset;

    display: block;
    width: 100%;
    height: 60px;
    padding: 0 32px;
    border-top: 1px solid color(gray-200);
    font-weight: 400;
    font-size: rem(16);
    line-height: 60px;
    text-align: left;
    cursor: pointer;

    @include hover {
      color: color(main);
    }

    &:first-child {
      border-top: 0;
    }

    &.on + .nav-list-wrap,
    &.active + .nav-list-wrap {
      display: block;
    }
  }

  .nav-list-wrap {
    display: none;
    padding: 9px 48px 15px;
    background-color: color(gray-50);
  }

  .nav-link {
    position: relative;
    display: block;
    height: 32px;
    margin-top: 6px;
    border-bottom: 1px solid transparent;
    font-size: rem(14);
    line-height: 32px;
    color: color(gray-500);
    transition-duration: 0.3s;
    transition-property: color;

    @include hover {
      color: color(main-300);
    }

    &.active {
      color: color(main);

      @include make-before {
        position: absolute;
        top: 8px;
        left: -15px;
        width: 7px;
        height: 7px;
        border-left: 1.5px solid color(main);
        border-bottom: 1.5px solid color(main);
      }
    }
  }
}
