// responsive Setting
@mixin media($px, $range: max) {
  @media all and (#{$range}-width: $px) {
    @content;
  }
}

@mixin media-h($px) {
  @media all and (max-height: $px) {
    @content;
  }
}

// size
@mixin circle($s) {
  width: $s;
  height: $s;
  border-radius: 50%;
}

@mixin square($s) {
  width: $s;
  height: $s;
}

@mixin full {
  width: 100%;
  height: 100%;
}

// flex items
@mixin flex($d: flex) {
  display: $d;
  @content;
}

@mixin flex-col($d: flex) {
  display: $d;
  flex-direction: column;
  @content;
}

@mixin flex-op($ai: null, $jc: null) {
  align-items: $ai;
  justify-content: $jc;
}

@mixin flex-center($d: flex) {
  display: $d;
  @include flex-op(center, center);

  @content;
}

@mixin flex-btw($d: flex) {
  display: $d;
  @include flex-op(center, space-between);

  @content;
}

// background image
@mixin bg-url($path, $img){
background-image: urlPath($path, $img);
}

@mixin bg-op($p: center, $s: auto, $r: no-repeat) {
  background-position: $p;
  background-size: $s;
  background-repeat: $r;
}

// bafore, after
@mixin make-before($c: "", $d: block) {
  &:before {
    content: $c;
    display: $d;
    @content;
  }
}

@mixin make-after($c: "", $d: block) {
  &:after {
    content: $c;
    display: $d;
    @content;
  }
}

@mixin make-virtual($c: "", $d: block) {
  &:before {
    content: $c;
    display: $d;
    @content;
  }

  &:after {
    content: $c;
    display: $d;
    @content;
  }
}

// input
@mixin input-reset {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  box-shadow: none;
}

@mixin hover {

  &:hover,
  &:focus {
    @content;
  }
}

@mixin active {
  &:active {
    @content;
  }
}

@mixin disabled {

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    @content;
  }
}

//shortening word
@mixin ellipse($line-cnt, $line-height) {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  line-height: $line-height; // $line-height : line-height값 (단위 필수)
  height: $line-height * $line-cnt;
  -webkit-line-clamp: $line-cnt; // $line-cnt : 라인 수
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

@mixin remove-ellipse {
  overflow: visible;
  text-overflow: unset;
  height: auto;
  line-height: 1.4;
  -webkit-line-clamp: unset; // $line-cnt : 라인 수
  -webkit-box-orient: unset;
}

// iphone notch
@mixin notch {

  /* iPhone XS : 2436x1125px at 458ppi */
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }

  /* iPhone XR : 1792x828px at 326ppi */
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    @content;
  }

  /* iPhone XS Max : 2688x1242px at 458ppi */
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}

// ie
@mixin ie-style {
  @at-root html.ie & {
    @content;
  }
}

// scroll custom style
@mixin custom-scroll($c: color(gray-100), $sub-c: #fff, $r: 0, $s: 8px) {
  &::-webkit-scrollbar {
    width: $s;
    height: $s;
    background-color: $sub-c;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c;
    border-radius: $r;
  }

  @include ie-style {
    scrollbar-arrow-color: $c;
    scrollbar-face-color: $c;
    scrollbar-track-color: $sub-c;
  }
}

@mixin hide-scroll {
  &::-webkit-scrollbar {
    display: none !important;
  }
}