// color set
// 실제 사용은 하단의 color map
// blue color
$blue-900: #1D2D49;
$blue-800: #25385B;
$blue-700: #2C436D;
$blue-600: #334E7F;
$blue-500: #3B5A93;
$blue-400: #496FB6;
$blue-300: #6D8CC5;
$blue-200: #92A9D3;
$blue-100: #B6C6E2;
$blue-50: #DAE2F1;

// red color
$red-900: #F11104;
$red-800: #FB2114;
$red-700: #FB392D;
$red-600: #FB5146;
$red-500: #FC685E;
$red-400: #FC8078;
$red-300: #FD9791;
$red-200: #FDAEAA;
$red-100: #FEC6C3;
$red-50: #FEDEDC;

// gray scale
$gray-900: #212529;
$gray-800: #343A40;
$gray-700: #495057;
$gray-600: #868E96;
$gray-500: #ADB5BD;
$gray-400: #CED4DA;
$gray-300: #DEE2E6;
$gray-200: #E9ECEF;
$gray-100: #F1F3F5;
$gray-50: #F6F7F8;
$gray-0: #FFF;

// color map
$color-set: (
  primary: $blue-500,
  secondary: $red-500,
  text: $gray-900,
  white: $gray-0,
  Primary-900: $blue-900,
  Primary-800: $blue-800,
  Primary-700: $blue-700,
  Primary-600: $blue-600,
  Primary-500: $blue-500,
  Primary-400: $blue-400,
  Primary-300: $blue-300,
  Primary-200: $blue-200,
  Primary-100: $blue-100,
  Primary-50: $blue-50,
  red-900: $red-900,
  red-800: $red-800,
  red-700: $red-700,
  red-600: $red-600,
  red-500: $red-500,
  red-400: $red-400,
  red-300: $red-300,
  red-200: $red-200,
  red-100: $red-100,
  red-50: $red-50,
  gray-900: $gray-900,
  gray-800: $gray-800,
  gray-700: $gray-700,
  gray-600: $gray-600,
  gray-500: $gray-500,
  gray-400: $gray-400,
  gray-300: $gray-300,
  gray-200: $gray-200,
  gray-100: $gray-100,
  gray-50: $gray-50,
  gray-0: $gray-0,
);

$zIndex-set: (
  popup: 100,
  fixed: 20,
  header: 10,
  double: 2,
  default: 1,
  zero: 0,
  minus: -1,
);

$path-set: (
  icon: "../../images/icon/",
  img: "../../images/img/",
  logo: "../../images/logo/",
);

// 높이, 넓이
$hd-height: 60px;
$gnb-width: 260px;

// button & badge
// btn color
$btn-color: (
  // basic: gray, // basic은 예외로 작성
  red: red,
  primary: Primary,
);