/* =================== button =================== */
// button wrapper
.btns-wrap {
  @include flex {
    align-items: center;
    flex-wrap: wrap;
  }


  &:not(:first-child) {
    margin-top: 5px;
  }

  .btn {
    &:not(:first-of-type) {
      margin-left: 10px;
    }
  }
}

// button reset
.btn {
  @include input-reset;
  @include flex-center(inline-flex);

  border-radius: 4px;
  font-weight: 400;
  transition: all 0.3s;
}

// button style
// 버튼 높이
.btn-m {
  height: 32px;
  padding: 0 12px;
  font-size: rem(14);
}

.btn-l {
  height: 40px;
  padding: 0 20px;
  font-size: rem(14);
}

.btn-xl {
  height: 48px;
  padding: 0 40px;
  font-size: rem(18);
}

// 버튼 색
// fill button
@each $name,
$color in $btn-color {

  // basic은 예외로 작성
  .btn-#{$name} {
    background-color: color(#{$color} + '-500');
    color: color(gray-0);

    @include hover {
      background-color: color(#{$color} + '-300');
      color: color(gray-0);
    }

    @include active {
      background-color: color(#{$color} + '-600');
      color: color(gray-0);
    }

    @include disabled {
      background-color: color(#{$color} + '-200');
      color: color(gray-0);
      cursor: not-allowed;
    }
  }
}

// ghost button
@each $name,
$color in $btn-color {

  // basic은 예외로 작성
  .btn-ghost-#{$name} {
    border: 1px solid color(#{$color} + '-500');
    color: color(#{$color} + '-500');

    @include hover {
      border-color: color(#{$color} + '-300');
      color: color(#{$color} + '-300');
    }

    @include active {
      border-color: color(#{$color} + '-600');
      color: color(#{$color} + '-600');
    }

    @include disabled {
      border-color: color(#{$color} + '-200');
      color: color(#{$color} + '-200');
      cursor: not-allowed;
    }
  }
}

.btn-basic {
  background-color: color(gray-50);
  color: color(text);

  @include hover {
    background-color: color(gray-50);
    color: color(gray-600);
  }

  @include active {
    background-color: color(gray-200);
    color: color(gray-600);
  }

  @include disabled {
    background-color: color(gray-50);
    color: color(gray-400);
    cursor: not-allowed;
  }
}

.btn-ghost-basic {
  border: 1px solid color(gray-300);
  color: color(text);

  @include hover {
    border-color: color(gray-200);
    color: color(gray-400);
  }

  @include active {
    border-color: color(gray-400);
    color: color(gray-600);
  }

  @include disabled {
    border-color: color(gray-300);
    color: color(gray-400);
    cursor: not-allowed;
  }
}

// custom buttons
// modal-open
.btn-table-modal {
  position: relative;
  display: inline-block;
  padding: 2px;
  border-radius: 0;

  @include make-virtual {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: color(primary);
    transition: all 0.2s;
  }

  &:after {
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
  }

  @include hover {

    &:after,
    &:before {
      width: 100%;
    }
  }
}

// modal-close
.btn-close {
  @include square(40px);

  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  font-size: 1px;
  font-weight: 0;
  color: transparent;
  text-indent: -rem;

  @include hover {

    &:before,
    &:after {
      height: 23px;
    }
  }

  @include make-virtual {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: color(gray-0);
    transition: height 0.3s;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

// pagination button style
.btn-page {
  min-width: 30px;
  height: 30px;
  padding: 0 5px;
  border: 1px solid color(gray-0);
  border-radius: 4px;
  font-weight: 600;
  color: color(gray-500);

  @include hover {
    border-color: color(gray-100);
    color: color(primary);
    box-shadow: none;
  }

  &.on {
    background-color: color(secondary);
  }

  &-start {
    @include bg-url(icon, "icon_start.svg");

    @include hover {
      @include bg-url(icon, "icon_start_on.svg");
    }
  }

  &-prev {
    @include bg-url(icon, "icon_prev.svg");

    @include hover {
      @include bg-url(icon, "icon_prev_on.svg");
    }
  }

  &-next {
    @include bg-url(icon, "icon_next.svg");

    @include hover {
      @include bg-url(icon, "icon_next_on.svg");
    }
  }

  &-end {
    @include bg-url(icon, "icon_end.svg");

    @include hover {
      @include bg-url(icon, "icon_end_on.svg");
    }
  }
}

.btn-page-icon {
  @extend .voice-only;
  @include square(30px);
  @include bg-op;

  position: inherit;
  transition: all 0.3s;
}