/* =================== form =================== */
.inp-grp {
  @include flex {
    @include flex-op(center, flex-start);
  }

  margin-top: 14px;

  @at-root .inp-wrap & {
    display: inline-flex;
  }

  &:first-child {
    margin-top: 0;
  }
}

.input {
  @include input-reset;

  display: block;
  width: 100%;
  height: 40px;
  margin-left: 10px;
  padding: 0 10px;
  border-radius: 4px;
  background-color: transparent;
  font-size: rem(14);
  border: 1px solid color(gray-300);

  &:first-child {
    margin-left: 0;
  }

  @include hover {
    border-color: color(primary);
  }

  &::placeholder {
    color: color(gray-500);
  }

  &:disabled {
    background-color: color(gray-50);
    color: color(text);
    cursor: default;

    @include hover {
      border-color: color(gray-100);
    }
  }

}

.inp-txt {
  width: 295px;
}

.inp-area {
  width: 100%;
  height: 200px;
  padding: 10px;
  resize: none;
}

.inp-label {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  user-select: none;
  color: transparent;
}

.inp-date {
  @include bg-op($s: 15px, $p: center right 10px);
  @include bg-url(icon, "icon_calander.svg");

  position: relative;
  max-width: 130px;

  &::-webkit-calendar-picker-indicator {
    height: 40px;
    width: 100%;
    background-color: transparent;
    background-image: none;
    position: relative;
    z-index: 0;
  }

  &::-webkit-datetime-edit-fields-wrapper {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.inp-select {
  @include bg-url(icon, "icon_select.svg");
  @include bg-op($p: center right 5px);

  max-width: 150px;
  padding-right: 25px;
  cursor: pointer;

  @include hover {
    @include bg-url(icon, "icon_select_on.svg");
  }

  &.with-conts {
    max-width: 100px;
  }
}

// checkbox custom
.chck-icon {
  @include square(22px);
  @include bg-url(icon, "icon_check.svg");
  @include bg-op;

  overflow: hidden;
  display: block;
  border: 1px solid color(gray-200);
  border-radius: 4px;
  background-color: color(gray-0);
  line-height: 0;
  font-size: rem(1);
  color: transparent;
  text-indent: -100px;
  letter-spacing: -100px;
  cursor: pointer;
  transition: all 0.3s;

  @at-root .inp-chck:checked~& {
    background-color: color(primary);
  }
}

.chck-txt {
  margin-left: 10px;
}

// table layout
// .table-control-wrap {
//   .btns-wrap {
//     display: inline-block;
//   }

//   .inp-grp {
//     display: inline-block;
//     margin-left: 10px;
//   }
// }

.table-wrap {
  overflow: auto;
  margin-top: 25px;
}

.ad-table {
  min-width: 1200px;
  width: 100%;
  border-top: 1px solid color(gray-200);
  border-bottom: 1px solid color(gray-200);

  .ad-table-row {
    // &:nth-child(even) {
    //   background-color: color(gray-50);
    // }

    @include hover {
      background-color: color(gray-200);
    }
  }

  .ad-table-hd {
    position: sticky;
    top: 0;
    left: 0;
  }

  .cell {
    height: 48px;
    padding: 0 15px;
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: rem(14);
  }

  th.cell {
    background-color: color(gray-50);
  }

  .cell-chck {
    width: 3em;

    .inp-grp {
      display: inline-block;
    }
  }

  .cell-num {
    width: 3em;
  }

  .cell-division {
    width: 5em;
  }

  .cell-ttl {
    @include ellipse(1, 48px);
  }

  td.cell-ttl {
    text-align: left;
  }

  .cell-date {
    width: 15em;
  }

  .cell-place {
    width: 8em;
  }

  .cell-target {
    width: 5.5em;
  }

  .cell-atnum {
    width: 5.5em;
  }

  .cell-atrate {
    width: 3em;
  }

  .cell-more {
    width: 6.5em;
  }
}