/* =================== form =================== */
.inp-grp {
  @include flex {
    @include flex-op(center, flex-start);
  }

  margin-top: 14px;

  @at-root .inp-wrap & {
    display: inline-flex;
  }

  &:first-child {
    margin-top: 0;
  }
}

.input {
  @include input-reset;

  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  background-color: transparent;
  font-size: rem(14);
  border: 1px solid color(gray-300);
  margin-left: 10px;

  &:first-of-type {
    margin-left: 0;
  }

  @include hover {
    border-color: color(primary);
  }

  &::placeholder {
    color: color(gray-500);
  }

  &:disabled {
    background-color: color(gray-50);
    color: color(gray-500);
    cursor: default;

    @include hover {
      border-color: color(gray-100);
    }
  }

}

.inp-txt {
  width: 295px;
}

.inp-area {
  width: 100%;
  height: 200px;
  padding: 10px;
  resize: none;
}

.inp-label {
  overflow: hidden;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  color: transparent;
  user-select: none;
}

.inp-file {
  display: none;
}

.inp-file-label-field {
  line-height: 40px;
  color: color(gray-500);
}

.inp-date {
  @include bg-op($s: 15px, $p: 14px center);
  @include bg-url(icon, "icon_calander.svg");

  position: relative;
  max-width: 130px;
  padding-left: 38px;

  ~.date-icon {
    margin: 0 14px;
  }

  &::-webkit-calendar-picker-indicator {
    height: 40px;
    width: 100%;
    background-color: transparent;
    background-image: none;
    position: relative;
    z-index: 0;
  }

  &::-webkit-datetime-edit-fields-wrapper {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.inp-select {
  @include bg-url(icon, "icon_select.svg");
  @include bg-op($p: center right 5px);

  width: 150px;
  padding-right: 25px;
  cursor: pointer;

  @include hover {
    @include bg-url(icon, "icon_select_on.svg");
  }

  &.with-conts {
    width: 100px;
  }

  ~.inp-txt {
    margin-left: 10px;
  }
}

// checkbox custom
.chck-icon {
  @include square(20px);
  @include bg-url(icon, "icon_check.svg");
  @include bg-op;

  overflow: hidden;
  display: block;
  border: 1.5px solid color(gray-200);
  border-radius: 4px;
  background-color: color(gray-0);
  line-height: 0;
  font-size: rem(1);
  color: transparent;
  text-indent: -100px;
  letter-spacing: -100px;
  cursor: pointer;
  transition: all 0.3s;

  @at-root .inp-chck:checked~& {
    border-color: color(primary);
    background-color: color(primary);
  }

  @at-root .inp-chck:disabled~& {
    @include bg-url(icon, "icon_check_disabled.svg");

    border-color: color(gray-50);
    background-color: color(gray-50);
  }
}

.chck-txt {
  @include bd-style02;

  margin-left: 10px;
}

//radio custom
.radio-icon {
  @include circle(20px);

  overflow: hidden;
  position: relative;
  display: block;
  border: 1.5px solid color(gray-300);
  background-color: color(gray-0);
  line-height: 0;
  font-size: rem(1);
  color: transparent;
  text-indent: -100px;
  letter-spacing: -100px;
  cursor: pointer;
  transition: all 0.3s;

  @include make-before {
    @include circle(12px);

    position: absolute;
    top: 50%;
    left: 50%;
    background-color: color(gray-0);
    transform: translate(-50%, -50%);
    transition: all 0.3s;
  }

  @at-root .inp-radio:checked~& {
    border-color: color(primary);

    &:before {
      background-color: color(primary);
    }
  }

  @at-root .inp-radio:disabled~& {
    border-color: color(gray-300);

    &:before {
      background-color: color(gray-300);
    }
  }
}

.radio-txt {
  @include bd-style02;

  margin-left: 10px;
}

// rable style
.table-wrap {
  overflow: auto;
  margin-top: 25px;
}

.search-result {
  @include bg-op($p: left center);
  @include bd-style02;

  padding-left: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_29_6880)'%3E%3Cpath d='M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z' fill='%23CED4DA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_29_6880'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

  >b {
    @include ttl-style02;
  }
}

.control-inputs-wrap {
  .control-group {
    @include flex(inline-flex) {
      align-items: center;
    }

    &:not(:first-child) {
      margin-left: 40px;
    }

    >span {
      @include bd-style02;
    }

    .inp-select {
      width: 140px;
    }

    >button,
    >select {
      margin-left: 14px;
    }
  }
}

.ad-table {
  min-width: 1200px;
  width: 100%;
  border-top: 1px solid color(gray-200);
  border-bottom: 1px solid color(gray-200);

  .ad-table-row {
    // &:nth-child(even) {
    //   background-color: color(gray-50);
    // }

    @include hover {
      background-color: color(gray-200);
    }
  }

  .ad-table-hd {
    position: sticky;
    top: 0;
    left: 0;
  }

  .cell {
    height: 48px;
    padding: 0 15px;
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: rem(14);
  }

  th.cell {
    background-color: color(gray-50);
  }

  .cell-chck {
    width: 3em;

    .inp-grp {
      display: inline-block;
    }
  }

  .cell-num {
    width: 3em;
  }

  .cell-division {
    width: 5em;
  }

  .cell-ttl {
    @include ellipse(1, 48px);
  }

  td.cell-ttl {
    text-align: left;
  }

  .cell-date {
    width: 15em;
  }

  .cell-place {
    width: 8em;
  }

  .cell-target {
    width: 5.5em;
  }

  .cell-atnum {
    width: 5.5em;
  }

  .cell-atrate {
    width: 3em;
  }

  .cell-more {
    width: 6.5em;
  }
}

// custom table(not table)
.custom-table-container-ttl {
  @include bd-style01(500);

  margin-top: 50px;
  margin-bottom: 30px;
}

.custom-table-wrap {
  @include flex {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .custom-table-row {
    @include flex;

    border-top: 1px solid color(gray-300);

    &.full-size {
      width: 100%;
    }

    &.half-size {
      width: 50%;
    }
  }

  .custom-table-ttl {
    display: block;
    flex-shrink: 0;
    width: 180px;
    min-height: 80px;
    padding-left: 20px;
    background-color: color(gray-50);
    line-height: 80px;
  }

  .custom-table-desc {
    padding: 30px 22px;
  }

  .inp-grp {
    margin: 0;
    padding: 20px;
    flex-wrap: wrap;

    .input {
      margin: 0;
    }

    .inp-file-label-field {
      margin-right: 14px;
    }

    .inp-select~.inp-txt {
      margin-left: 14px;
    }
  }

  .btns-wrap {
    margin: 0;
  }

  .search-btn-wrap {
    justify-content: center;
    padding-top: 36px;

    .btn:not(:first-child) {
      margin-left: 20px;
    }
  }

  .custom-table-rowspan-2input {
    .custom-table-ttl {
      min-height: 130px;
      line-height: 130px;
    }
  }

  .custom-table-rowspan2 {
    .custom-table-ttl {
      min-height: calc(80px * 2);
      line-height: calc(80px * 2);
    }
  }

  .custom-table-rowspan4 {
    .custom-table-ttl {
      min-height: 323px;
      line-height: 323px;
    }
  }

  .custom-table-rowspan-cellhalf {
    width: 50%;
  }
}

.custom-table-container {
  &.search-table {
    margin: 50px 0;
  }
}

// image upload
.image-upload-wrap {
  padding: 20px;

  .inp-grp {
    padding: 0;
    padding-top: 20px;
  }
}

.address-wrap {
  .btn {
    margin-left: 14px;
  }

  .input:last-child {
    margin-top: 10px;
    width: calc(295px + 14px + 94px);
  }
}