@charset 'utf-8';
// utility
@import "utility/function";
@import "utility/variable";
@import "utility/mixin";

.component-container {
	margin: 20px 0;
}

.component-ttl {
	margin-top: 50px;
	font-size: 30px;
}

.component-sub-ttl {
	margin: 20px 0;
	padding: 10px 20px;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.04);
}

.component-desc {
	margin-top: 5px;
	font-size: 18px;
}